name: Windows Build

on:
  push:
    branches: [ main ]
    paths:
      - ".github/workflows/windows.yml"
      - "src/**"
      - "CMakeLists.txt"
  pull_request:
    branches: [ main ]
    paths:
      - ".github/workflows/windows.yml"
      - "src/**"
      - "CMakeLists.txt"

jobs:
  build:
    runs-on: windows-2022
    env:
      CMAKE_PREFIX_PATH: ${{ github.workspace }}\.local
    steps:
    - uses: actions/checkout@v2

    - name: Configure CMake
      run: cmake -S . -B build "-DCMAKE_TOOLCHAIN_FILE=$env:VCPKG_INSTALLATION_ROOT\scripts\buildsystems\vcpkg.cmake"
        
    - name: Build
      run: cmake --build build --config Release --parallel

